@using SemanticKernelPet.Components.Pages
@inherits LayoutComponentBase

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
    <RadzenHeader>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
    </RadzenHeader>
    <RadzenSidebar>
        <NavMenu />
    </RadzenSidebar>
    <RadzenBody>
        <article class="content px-4">
            @Body
        </article>
    </RadzenBody>
    <RadzenFooter>
        <div class="items-area px-4 py-2">
            <Items />
        </div>
    </RadzenFooter>
</RadzenLayout>